.input {
    background-color: transparent;
    text-align: center;
    color: var(--text-primary);
    font-size: 1.8rem;
    padding: 0.8rem;
    outline: none;

    border: 0.2rem solid transparent;
    border-bottom: 0.2rem solid var(--primary);
    transition: all 0.2s ease-in-out;
}

.input:focus {
    border: 0.2rem solid var(--primary);
    border-radius: 0.8rem;
}

.input::placeholder {
    color: var(--gray-500);
    font-size: 1.4rem;
    font-style: italic;
}

.input:disabled {
    opacity: 0.5;
    border-bottom: 0.2rem solid var(--gray-500);
    cursor: not-allowed;
}