.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--primary);
    color: var(--text-over-primary);
    min-width: 24rem;
    padding: 1rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 4.8rem 0;
}

.button svg {
    width: 3.2rem;
    height: 3.2rem;
}

.button:hover {
    filter: brightness(0.8);
}

.green {
    background: var(--primary);
    color: var(--text-over-primary);
}

.red {
    background: var(--error);
    color: var(--text-over-error);
}